@tailwind base;
@tailwind components;
@tailwind utilities;

.online{
    background-color: green;
}

.offline{
    background-color: red;
}

.resCard{
    border: 2px solid transparent;
    border-radius: 1rem;
    background-color: aliceblue;  
}

.resCardImage img{
    border-radius: 1rem;
}
